.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
    color: white;
    
    
}

 .card-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
}

.cards{
    background-color: #343a40;
}

.card-footer{
    background-color: #343a40;
}


 


