 <!-- <div class="container">
	<div class="item-margin">
		<ngx-charts-line-chart [scheme]="colorScheme" [results]="single">

		</ngx-charts-line-chart>
	</div>
	<div class="item">
		 <ngx-charts-pie-chart class="test" [scheme]="colorScheme" [results]="single" [gradient]="gradient" [legend]="showLegend"
		 [doughnut]="true" [tooltipDisabled]="true" (select)="onSelect($event)">
		</ngx-charts-pie-chart> 
	</div>
	<div class="item">
		<canvas baseChart chartType="doughnut" [data]="doughnutChartData" [labels]="doughnutChartLabels" [legend]="true">
		</canvas>
	</div>
</div>  -->
